@{
    ViewData["Title"] = "Create New Incoming List";
}

<div class="body">

     <div class="row">
          <div class="col-md-4">
               <form asp-action="CreateIncoming">
                   @* <marquee class="css" scroll-behavior="relative" direction="up" scrollamount ="1"> *@
                   
                    <div>
                         <a asp-controller="Incoming" asp-action="CreateIncoming" class="btn btn-outline-primary">submit</a>
                    </div>

                    <div class="col-md-12 mb-2">
                         <label for="Name" class="form-label">SupplierName:</label>
                         <input type="text" class="form-control" placeholder="Enter Incoming Item" name="SupplyName">
                    </div>
                    <div class="col-md-12 mb-2">
                         <label for="ItemName" class="form-label">ItemName:</label>
                         <input type="text" class="form-control" placeholder="Enter Item Name" name="ItemName">
                    </div>
                    <div class="col-md-12 mb-2">
                         <label for="InvoiceNo" class="form-label">InvoiceNo:</label>
                         <input type="text" class="form-control" placeholder="Enter Incoming Item InvoiceNo" name="InvoiceNo">
                    </div>
                    <div class="col-md-12 mb-2">
                         <label for="SupplyDate" class="form-label">SupplyDate:</label>
                         <input type="text" class="form-control" placeholder="Enter Incoming Item SupplyDate" name="SupplyDate">
                    </div>

                    <div class="col-md-12 mb-2">
                         <label for="Quantity" class="form-label">Quantity:</label>
                         <input class="form-control" placeholder="Enter Quantity" name="Quantity">
                    </div>
                    <div class="col-md-12 mb-2">
                         <label for="Bill" class="form-label">Bill:</label>
                         <input class="form-control" placeholder="Enter Bill" name="Bill">
                    </div>
                         .
                   @* </marquee>*@

                    @*<div class="col-md-12" text-allign : top-right>
                         <button type="submit" class="btn btn-primary">Create Incoming</button>
                    </div>*@
                   
               </form>
          </div>
     </div>
</div>