@using Medics.Enums;
@model Medics.Models.Outgoing.CreateOutgoingViewModel
@{
    ViewData["Title"] = "Create New Outgoing List";
}

<div class="body">

     <div class="row">
          <div class="col-md-6">
               <form asp-action="CreateOutgoing">
                    <div class="col-md-12 mb-2">

                    <label class="form-label">Drug:</label>
                    <select asp-for="DrugId" class="form-control" asp-items="@ViewBag.Drugs" data-placeholder="Select Drugs">
                    </select>
                    <span asp-validation-for="DrugId" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 mb-2">
                         <label for="Item" class="form-label">Item Type:</label>
                         <input type="text" class="form-control" placeholder="Enter Item Type" name="Item">
                    </div>
                    <div class="col-md-12 mb-2">
                         <label for="DeliveredTo" class="form-label">DeliveredTo:</label>
                         <input type="text" class="form-control" placeholder=" DeliveredTo" name="DeliveredTo">
                    </div>
                    <divclass ="form-group">
                         <label label asp-for = "Purpose"  class="form-label"></label>
                          <select asp-for="Purpose" class="form-control" asp-items="Html.GetEnumSelectList<Purpose>()"> </select>
                    </divclass>
                   @* <div class="col-md-12 mb-2">
                         <label for="Purpose" class="form-label">Purpose:</label>
                         <input type="text" class="form-control" placeholder="Enter Outgoing Item Purpose" name="Purpose">
                    </div>*@

                    <div class="col-md-12 mb-2">
                         <label for="Quantity" class="form-label">Quantity:</label>
                         <textarea class="form-control" placeholder="Enter Quantity" name="Quantity"></textarea>
                    </div>
                    <div class="col-md-12 mb-2">
                         <label for="Sale" class="form-label">Sale:</label>
                         <textarea class="form-control" placeholder="Enter Sale" name="Sale"></textarea>
                    </div>

                    <div class="col-md-12">
                         <button type="submit" class="btn btn-primary">Create Outgoing</button>
                    </div>
               </form>
          </div>
     </div>
</div>