@model Medics.Models.Outgoing.CreateOutgoingViewModel
@{
	ViewData["Title"] = "Create Incoming";
}
<div class="body">
	 <div class="row">
		  <div class="col-md-6">
			   <form asp-action="CreateIncoming">
					<div class="col-md-12 mb-3">
						 <label asp-for="Item" class="control-label"></label>
						 <textarea asp-for="Item" type="text" class="form-control"></textarea>
						 <span asp-validation-for="Item" class="text-danger"></span>
					</div>
					<div class="col-md-12 mb-3">
						 <label asp-for="Name" class="control-label"></label>
						 <textarea asp-for="Name" type="text" class="form-control"></textarea>
						 <span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="col-md-12 mb-3">
						 <label asp-for="Quantity" class="control-label"></label>
						 <textarea asp-for="Quantity" type="text" class="form-control"></textarea>
						 <span asp-validation-for="Quantity" class="text-danger"></span>
					</div>

					<div class="col-md-12 mb-3">
						 <label asp-for="DeliveredTo" class="control-label"></label>
						 <input asp-for="DeliveredTo" type="file" class="form-control" />
						 <span asp-validation-for="DeliveredTo" class="text-danger"></span>
					</div>
					<div class="col-md-12 mb-3">
						 <label asp-for="Purpose" class="control-label"></label>
						 <input asp-for="Purpose" type="file" class="form-control" />
						 <span asp-validation-for="Purpose" class="text-danger"></span>
					</div>
					<div class="col-md-12 mb-3">
						 <label asp-for="Sale" class="control-label"></label>
						 <input asp-for="Sale" type="file" class="form-control" />
						 <span asp-validation-for="Sale" class="text-danger"></span>
					</div>

					<div class="col-md-12">
						 <button type="submit" class="btn btn-primary">Modify</button>
					</div>
			   </form>
		  </div>
	 </div>
</div>

