@using System.Security.Claims;
@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="text-center">
     <h1 class="display-4">Welcome</h1>
     <i class="fa fa-heartbeat" style="font-size:48px;color:red"></i>
    @* <img src ="DrugPhoto.JPG" width="500" height="600" alt="drug store" >*@
     <p class="lead">
          <span class="badge rounded-pill bg-success">@User.Identity.Name</span>
     </p>
</div>
