@model Medics.Models.Drug.DrugViewModel

@{
    ViewData["Title"] = "Drug Detail";
}

<div class="body">

    @if (Model is not null)
    {
         <div class="card">

              

              <div class="card-header">

                   <h5>
                    @Model.Drugs
                   </h5>

                    <div>
                       <a asp-controller="Drug" asp-action="Update" asp-route-id="@Model.DrugIds" class="btn btn-primary btn-sm">
                            <i class="fas fa-edit"></i>
                       </a>

                   <form asp-controller="Drug" asp-action="DeleteDrug" asp-route-id="@Model.DrugIds" method="post" class="del-btn">
                            <button type="submit" class="btn btn-danger btn-sm">
                                 <i class="fas fa-trash"></i>
                            </button>
                       </form>
                </div>
              </div>

              <div class="card-body">


                   <div>
                        <a asp-controller="Drug" asp-action="Index" class="btn btn-secondary">
                             Back to list
                        </a>
                   </div>

              </div>
        </div>
    }
    else
    {
        <div> Drug Detail does not exist</div>
    }
</div>






